pyrogram==1.4.16
tgcrypto
requests
pyromod==1.5
yt-dlp
ffmpeg
aiohttp
aiofiles
asyncio
pycurl
humanize

cryptg
telethon
python-decouple
gunicorn==20.1.0
Flask==1.1.2
Jinja2==3.0.3
MarkupSafe==2.1.0
itsdangerous==2.1.2
